body{
    background-color:#af4185;
   
    margin: 0%;
}


img {
    width: 100%;
    height: auto;
    
  }

  #personalInfo{
    padding:2%;
    font-size: larger;
    background-color: #c0c0c0 ;
    color:#af4185;
    font-weight: bold;}

    //*nput:invalid{
        background-color: rgba(221,147,148,0.2);
    }*/

    .meal{
        font-weight: bold;
        text-align: left;
        padding-left: 0.5%;
    }

    table, th, td {
        border: 1px solid;
        text-align: center;
      }

      table {
        width: 100%;
        background-color: #c0c0c0 ;
        padding: 1%;
      }

      #clearForm{
        margin-left: 1%;
      }
      #printform{
        margin-left: 1%;
      }